.App {
  text-align: center;
}

.body {
  display: flex;
  background-color: #282c34;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  &.isLogin {
    transform: translateY(-100%);
    background: {
      image: url("img/bg.svg");
      size: cover;
    }
    animation: popup .5s forwards;
  }
}
.btn {
  width: 220px;
  height: 40px;
  color: #fff;
  line-height: 40px;
  cursor: pointer;
  border-radius: 4px;
  background: #a55555;
}

.bubble {
  transform: translateY(30px);
  opacity: 0;
  position: absolute;
  width: 70%;
  margin-left: 10px;
  background: #fff;
  padding: 20px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  animation: .3s popup forwards;
  animation-delay: 1s;
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left : 10px;
    transform: rotate(15deg);
    width: 0;
    height: 0;
    border: 10px solid #fff;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
  }
  &.right:after {
    transform: rotate(172deg);
  }
  &.no-delay {
    animation-delay: 0s;
  }
}
.character-wrapper {
  margin-bottom: 10px;
  position: relative;
  .bubble {
    top: 0;
    left: 100%;
  }
}
.input-wrapper {
  width: 200px;
  margin-bottom: 10px;
  input {
    -webkit-appearance: none;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    padding: 0 10px;
    border: none;
    background: #fff;
  }
}
.apeach-wrapper {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left :100vw;
  transition: all .1s ease-in-out;
  transform-origin: center;
  .apeach {position: absolute; bottom: 0; left: 0;}
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  //background: rgba(255, 255, 255, .7);
  background: #038373cc;
  backdrop-filter: blur(30px);
  position: fixed;
  top: 0;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  padding: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  transform: translateY(-100%);
  animation: popup .6s forwards;
  color: #fff;
  .btn {
    background: #10524a;
    width: 100px;
    font-size: 16px;
  }
}

.command-ball {
  position: fixed;
  cursor: pointer;
  bottom: 10px;
  right: 10px;
  transform: scale(0) translateY(100px);
  opacity: 0;
  animation: popup 3s forwards;
  z-index: 3;
  .bubble {
    font-size: 12px;
    width: 150px;
    top: -30px;
    right: 0;
    opacity: 0;
    transform: translateY(-40px);
    animation: popup 1s forwards;
    animation-delay: 2s;
  }
}

.command-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  width: 200px;
  height: 200px;
  transform: translateY(-100px);
  animation: popup .5s forwards;
  .history {
    height: calc(100% - 50px);
    overflow: scroll;
  }
  .input-wrapper {
    margin: 0;
    border-top: 1px solid #ccc;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .input {
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: auto;
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 100%;
  }
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes popup {
  to {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}

@media screen and (max-width: 479px){
  html {overscroll-behavior-y: none;}
  .body {overflow: hidden;overscroll-behavior-y: none;}
  .character-wrapper {
    .bubble {
      top: -100px;
      left: 0;
    }
  }
}
